.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  // font-size: 0.75rem;
  width: 100%;
  gap: 4px;
}

.list {
  padding: 8px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin: 0;
  list-style: none;
  font-size: 12px;

  li {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 2px;
  }
}

.icon-success {
  color: #3b9e40;
}

.icon-error {
  color: #d22336;
}

.status {
  display: flex;
  padding: 0.5rem;
  background: #eee;
  color: black;
  font-weight: bold;
  font-size: 0.75rem;
  width: 100%;
  gap: 4px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  width: 100%;
  gap: 4px;
  overflow: none;
}

.modalContainer {
  max-width: 50vw;
  max-height: 50vh;
  overflow: scroll;
  padding: 1rem;

  table {
    thead tr {
      th {
        text-align: left;
        border-bottom: 1px solid white;
      }
    }
    tbody tr {
      td {
        border-bottom: 1px solid #222;
        color: #999;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    min-width: 100vw;
    min-height: 100vh;
  }
}
